img {
  display: block;
  margin: auto;
}

.login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  form {
    margin-top: 2em;

    ion-label,
    ion-icon {
      color: var(--ion-color-primary);
    }

    ion-button>ion-label {
      color: var(--ion-color-light);
    }

    .error>ion-label {
        color: var(--ion-color-danger);
    }
  }

  ion-input {
    margin: 1.5em 0 1.5em 0;
    border-radius: 20px;
    height: 3em;
    --color: var(--ion-color-dark);
    background-color: #ddd;
  }

  ion-card {
    border-radius: 20px;
    box-shadow: none;
    padding: 2vw;
  }

  ion-button {
    --border-radius: 20px;
    margin-top: 2em;
    width: 100%;
  }
}

.error {
    font-size: 0.7em;
    text-align: left;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 25vw;
  }

  .illustration{
      display: none;
  }

  .form-container {
    ion-card {
      width: 80%;
    }
  }


}

@media screen and (min-width: 801px) {
  .logo {
    width: 10vw;
    margin-left: 10vw;
  }

  .login-container {
    padding: 0 10vw 0 10vw;
    height: 90%;

    .illustration {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .form-container {
      ion-card {
        width: 50%;
        margin-bottom: 12vh;

        ion-input {
          height: 3em;
        }
      }
    }

  }
}
