<ion-header class="ion-no-border animate__animated animate__fadeInDown" [translucent]="true">
  <ion-toolbar>
    <img slot="start" class="logo" src="../../assets/630.png">
    <ion-title>
      Raymundo Mayorquín
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <div class="illustration animate__animated animate__fadeInLeft">
      <img src="../../assets/undraw_login.svg">
    </div>
    <div class="form-container animate__animated animate__fadeInRight">
      <ion-card class="form">
        <ion-label class="biggest bolder" color="dark">
          Registrate
        </ion-label>
        <form [formGroup]="loginForm">
          <ion-item lines="none">
            <ion-icon name="mail"></ion-icon>
            <ion-label class="ion-padding-start big bold">
              Email
            </ion-label>
          </ion-item>
          <ion-input formControlName="email" type="email" placeholder="name@mail.com" class="ion-padding-horizontal"
            (ionChange)="formChanged('email')">
          </ion-input>
          <ion-item lines="none">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-label class="ion-padding-start big bold">
              Contraseña
            </ion-label>
          </ion-item>
          <ion-input formControlName="password" type="password" placeholder="Contraseña" class="ion-padding-horizontal"
            (ionChange)="formChanged('password')">
          </ion-input>
          <div class="error">
            <ion-label>
              <span *ngIf="!valid.email">{{error.email}}</span><br>
              <span *ngIf="!valid.password">{{error.password}}</span>
            </ion-label>
          </div>
          <ion-button mode="ios" (click)="logIn()" [disabled]="!loginForm.valid">
            <ion-label class="big bold">
              Crear cuenta
            </ion-label>
          </ion-button>
        </form>
      </ion-card>
    </div>
  </div>


</ion-content>
