.users-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 5vh 0 5vh 0;
}

.userCard {
  border-radius: 20px;
  padding: 2em;
  box-shadow: none;
}

ion-header,
ion-toolbar,
ion-content {
  --background: #ddd;
}

.name {
  color: var(--ion-color-primary);
  margin-bottom: 2vh;
}

ion-button {
  margin: 5vh 0 5vh 0;
}

ion-avatar {
  height: 20%;
  width: 20%;
}

@media screen and (max-width: 800px) {

  .userCard,
  ion-button {
    width: 80%;
  }

  .email {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 801px) {

  ion-toolbar {
    padding-top: 3vh !important;
  }

  ion-title {
    margin-left: 10vw;
  }

  .userCard {
    width: 30%;

    .name {
      font-size: 1.5em;
    }
  }

  ion-button {
    width: 30%;
  }
}
